@page
@model StoryConfigModel
@{
    ViewData["Title"] = "Story Config";
}
<section class="breadcrumbs">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <h2>Story Config</h2>
            <ol>
                <li><a asp-page="/Index">Home</a></li>
                <li>Story Config</li>
            </ol>
        </div>
    </div>
</section>
<section class="inner-page">
    <div class="container">
        <button class="btn btn-outline-warning btn-icon-split btn-sm" data-bs-toggle="modal" data-bs-target="#createModal">
            <span class="text">Create</span>
        </button>
        <table class="table table-hover">
            <tr>
                <th>Title</th>
                <th>Action</th>
            </tr>
            @foreach (var item in Model.Stories)
            {
                <tr>
                    <td>@item.Title</td>
                    <td>
                        <button id="edit" class="btn btn-outline-primary btn-icon-split btn-sm" data-bs-toggle="modal" data-bs-target="#editModal">
                            <span class="text">Edit</span>
                        </button>
                        <button id="delete" class="btn btn-outline-danger btn-icon-split btn-sm" data-bs-toggle="modal" data-bs-target="#deleteModal">
                            <span class="text">Delete</span>
                        </button>
                        <a class="btn btn-outline-info btn-icon-split btn-sm" asp-page="AddImageToStory" asp-route-storyId="@item.Id"><span class="text">Add Image</span></a>
                        <input type="hidden" name="id" id="id" value="@item.Id" />
                    </td>
                </tr>
            }
        </table>
    </div>
</section>

<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create New Story</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <form id="create-form" class="text-center" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger col-md-12"></div>
                <div class="form-floating mb-3 mt-3">
                    <input asp-for="Input.Title" class="form-control" required />
                    <label asp-for="Input.Title" class="form-label"></label>
                </div>

                <div class="modal-footer">
                    <button id="settings-button" type="submit" class="btn btn-success">Create</button>
                    <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Story</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <form id="update-form" asp-page-handler="Edit" class="text-center" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger col-md-12"></div>
                <div class="form-floating mb-3 mt-3">
                    <input asp-for="Input.Title" class="form-control" required />
                    <label asp-for="Input.Title" class="form-label"></label>
                </div>
                <input type="hidden" name="id" id="id" />
                <div class="modal-footer">
                    <button id="settings-button" type="submit" class="btn btn-success">Update</button>
                    <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Story</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <form id="delete-form" asp-page-handler="Delete" class="text-center" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger col-md-12"></div>
                <div class="text-center">
                    <span class="fs-5">Are you sure to delete this story?</span>
                </div>
                <div class="form-floating mb-3 mt-3">
                    <input asp-for="Input.Title" class="form-control" disabled />
                    <label asp-for="Input.Title" class="form-label"></label>
                </div>
                <input type="hidden" name="id" id="id" />
                <div class="modal-footer">
                    <button id="settings-button" type="submit" class="btn btn-danger">Delete</button>
                    <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $('table #delete').on('click', function () {
                var id = $(this).parent().find('#id').val();
                $.ajax({
                    type: 'GET',
                    data: { id: id },
                    url: '@Url.Page("StoryConfig", "Delete")',
                    success: function (result) {
                        $('#deleteModal #id').val(result.id);
                        $('#deleteModal #Input_Title').val(result.title);
                    }
                });
            });

            $('table #edit').on('click', function () {
                var id = $(this).parent().find('#id').val();
                $.ajax({
                    type: 'GET',
                    data: { id: id },
                    url: '@Url.Page("StoryConfig", "Edit")',
                    success: function (result) {
                        $('#editModal #id').val(result.id);
                        $('#editModal #Input_Title').val(result.title);
                    }
                });
            });
        });
    </script>
}